#main{width:990px;margin:0 auto;padding:8px 0 5px 0;background:#f2f2f2}
.nav{background:url(../images/bg_nav2.jpg)}
.nav li{float:left}
.nav a{display:block;line-height:50px;width:142px;text-align:center;font-size:18px;font-weight:bold;color:#666;border-left:#FFF 1px solid;border-right:#dadada 1px solid}
.nav a:hover{background:url(../images/bg_nav2a.jpg)}
.dl_nav{margin:10px;background:#FFF}
.dl_nav dt,.dl_nav2 dt{background:url(../images/bg_dt.jpg);line-height:36px;font-size:16px;color:#0e93d9;font-weight:bold}
.dl_nav dt p,.dl_nav2 dt p{background:url(../images/sj_navbg.jpg) no-repeat;padding:0 0 0 30px}
.dl_nav dd{font-size:14px;line-height:30px;text-indent:2em;padding:10px}
.dl_nav2{margin:5px 10px;background:#FFF}
.dl_nav2 dd{font-size:14px;line-height:30px;padding:10px}
.sj_ul{margin:20px 40px;border-top:#999 1px dashed}
.sj_ul li p{color:#333;font-size:16px;line-height:40px}
.sj_L{float:left}
.sj_R{float:left;color:#999;border:#CCC 1px solid;background:#f9f9f9;height:160px;margin:0 0 0 50px;width:450px;padding:5px 0 0 15px}
.sj_R span{color:#333;padding:0 50px}
.sj_R a{color:#999}
.nav123_bg{background:url(../images/bg_nav2a.jpg)}
