<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="description" content="北京富和双盛科技有限公司是一家实力雄厚的家庭影院、智能家居服务商，提供家庭影院推荐、家庭影院音响设计方案、智能家居控制系统等咨询.咨询热线：010-82960908  400-906-8609" />
<meta name="keywords" content="家庭影院|北京家庭影院|家庭影院设计|智能家居装修|视频会议|家庭KTV方案" />
<TITLE>【家庭影院】家庭影院设计|家庭影院推荐|智能家居|视频会议价格最低、服务最优,首选北京富和双盛科技有限公司</TITLE>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/index.css" />
<link rel="stylesheet" type="text/css" href="css/base.css" />
<script type="text/javascript" src="js/bigpicroll.js"></script>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/kxbdSuperMarquee.js"></script>
<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
<!--[if IE 6]><script src="js/DD_belatedPNG.js"></script><script>  DD_belatedPNG.fix('#top_3_inner li a:hover,.t3_a');</script><![endif]-->
<script type="text/javascript">
		$(function(){
			$('#marquee6').kxbdSuperMarquee({
				isMarquee:true,
				isEqual:false,
				scrollDelay:10,
				direction:'left'
			});
		});
</script>
</head>
<body>

<div id="wrap">
	<div>
        <div id="top_1">
            <div id="top_1_inner">
                <!-- Baidu Button BEGIN -->
                <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                <span class="bds_more">分享到：</span>
                <a class="bds_qzone"></a>
                <a class="bds_tsina"></a>
                <a class="bds_tqq"></a>
                <a class="bds_renren"></a>
                <a class="bds_t163"></a>
                <a class="shareCount"></a>
                </div>
                <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=789724" ></script>
                <script type="text/javascript" id="bdshell_js"></script>
                <script type="text/javascript">
                document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
                </script>
                <!-- Baidu Button END -->
				<p class="top1_p_1"><a href="#" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.fuhess.com');">设为主页</a></p>
                <p><a href="#" onclick='window.external.AddFavorite("http://www.fuhess.com/","北京富和双盛")'>加入收藏</a></p>
                <p class="top1_P">服务热线：<span>400-706-8609</span></p>
                <div class="clear"></div>
            </div>
        </div>
   		<div id="top_2">
            <div class="t2_1">
            	<img src="images/logo_01.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/>
            </div>
            <div class="t2_2">
            	<p>富和双盛致力于家庭影院领域十几年<br />打造专业影音安装团队</p>
            </div>
            <dl class="t2_3">
            	<dt>全国<span>24h</span>服务热线：<span>400-708-8609</span></dt>
                <dd>工程师24h热线：<span>139-1194-7292</span></dd>
                <dd>努力打造智能家居定制第一品牌</dd>
            </dl>
            <div class="clear"></div>
        </div>
		<div id="top_3">
    	<ul id="top_3_inner">
        	<li><a href="index_fuhss.html" class="t3_a">首页</a></li>
        	<li><a href="neirong3.html">家庭影院</a></li>
        	<li><a href="#">视频会议</a></li>
        	<li><a href="#">智能家居</a></li>
        	<li><a href="#">KTV</a></li>
        	<li><a href="#">背景音乐</a></li>
    <li><a href="#">影音室装修</a></li>
        	<li><a href="list_gb.html">经典案例</a></li>
        	<li><a href="#">品味生活</a></li>
        	<li><a href="#">影片推荐</a></li>
        </ul>
    </div>
    </div>
	<div id="main">
    	<div>
        	<img src="images/tiao1.jpg"/>
            <div class="m1">
            	<ul class="b_L">
                	<li><img src="images/zt1.jpg" /></li>
                	<li><img src="images/zt2.jpg" /></li>
                	<li><img src="images/zt3.jpg" /></li>
                	<li><img src="images/zt4.jpg" /></li>
                </ul>
                <div class="b_Z">
					<div class="hdwrap1">
  <div class="hdflash f_list">
  <div class="flashlist">
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/banner1.jpg" alt="影院配置" title="富和双盛案例解析"
        width="600" height="290" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="富和双盛案例解析"
          target="_blank">
            富和双盛案例解析
          </a>
        </h2>
        <p>
          待编辑
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/02.jpg" alt="钢铁侠3Iron Man 3 (2013)" title="钢铁侠3Iron Man 3 (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="钢铁侠3Iron Man 3 (2013)"
          target="_blank">
            钢铁侠3Iron Man 3 (2013)
          </a>
        </h2>
        <p>
          在《钢铁侠3》中，托尼·斯塔克将遭遇到一个能力似乎没有界限的强敌的挑战。这个人毁坏了斯塔克的生活，而斯塔克只有依靠着自己精良的高科技的装备才能去寻找究竟是谁才是幕后的元凶。在寻找的过程中，斯塔克非常依赖自己的钢铁服，每一次转折都在测试着他的勇气。当他最终找到强敌，
          并且准备展开反戈一击的时候，斯塔克顿时发现了自...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/03.jpg" alt="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)"
        title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)" width="600"
        height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)"
          target="_blank">
            致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)
          </a>
        </h2>
        <p>
          自喻为"玉面小飞龙"的郑微，洋溢着青春活力，心怀着对邻家哥哥——林静浓浓的爱意，来到大学。可是当她联系林静的时候，却发现出国的林静并没有告诉她任何消息。生性豁达的她，埋藏起自己的爱情，享受大学时代的快乐生活。却意外地爱上同学校的陈孝正，板正、自闭而又敏感、自尊的陈孝正却在毕业的时候又选择了出国放弃了郑微。
          几...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/04.jpg" alt=" 疯狂原始人 The Croods (2013)" title=" 疯狂原始人 The Croods (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title=" 疯狂原始人 The Croods (2013)"
          target="_blank">
            疯狂原始人 The Croods (2013)
          </a>
        </h2>
        <p>
          原始人克鲁德一家六口在老爸Grug（尼古拉斯·凯奇 Nicolas Cage 配音）的庇护下生活。每天抢夺鸵鸟蛋为食，躲避野兽的追击，每晚听老爸叙述同一个故事，在山洞里过着一成不变的生活。大女儿EEP（艾玛·斯通
          Emma Stone 配音）是一个和老爸性格截然相反的充满好奇心的女孩，她不满足一辈子留在这个小山洞里，一心想要追逐山洞外面的世...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/05.jpg" alt="同谋 Conspirators (2013)"
        title="同谋 Conspirators (2013)" width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.afeidy.com/?s=vod-read-id-1985.html" title="同谋 Conspirators (2013)"
          target="_blank">
            同谋 Conspirators (2013)
          </a>
        </h2>
        <p>
          泰国私家侦探陈探（郭富城 饰）年幼父母失踪，长大后为了寻找父母的踪迹而当上私家侦探，在查案中发现父母已死，誓要找到杀害父母的凶手。几经辗转终于得知当年父母的朋友柴叔在马来西亚，便只身前往，然而柴叔却说知道真相的鹏哥已经死了。此时陈探接到电话得知家中被盗，连夜赶回家后发现屋子被翻了个底朝天，甚至连自己都不知道的...
        </p>
      </div>
    </div>
  </div>
  <div class="flash_tab">
    <div class="tabs f_tabs" style="width:190px;">
      <ul>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="意外的恋爱时光 Love Speaks (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="钢铁侠3Iron Man 3 (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title=" 疯狂原始人 The Croods (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="同谋 Conspirators (2013)">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <script type="text/javascript">
    FeatureList(".f_list", {
      "onclass": "noopdiv",
      "offclass": "opdiv",
      "pause_on_act": "mouseover",
      "interval": 5000,
      "speed": 5
    });
  </script>
</div>
</div>
                </div>
                <div class="b_R">
                	<dl>
                    	<dt>公司简介</dt>
                        <dd>1998年，北京富和双盛科技有限公司（原北京希盼音响）成立，历经多年发展，本着"科技为先、诚信为本、服务至上"的原则，赢得了广泛赞誉。面对市场的变幻与挑战，公司继续大力深化"3+3"的顾问式服务体系，以敬业的态度，职业的行为，专业的技能，及对完美的追求，结合"3+3"的顾问式服务方式向客户提供服务，让客户满意，是公司对员工的要求及对客户的承诺！<br /><br /><a href="#">详情</a>
                        </dd>
                    </dl>
                    <ul>
                   	  <li><P><a href="#">家庭影院</a></P></li>
                   	  <li><P><a href="#">智能家居</a></P></li>
                   	  <li><P><a href="#">KTV</a></P></li>
                   	  <li><P><a href="#">视频会议</a></P></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <p class="dlcp">代理品牌</p>
            <div class="pinpai">
                <div id="marquee6">
            	<ul>
                	<li><a href="#"><img src="images/bz1.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz2.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz3.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz4.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz5.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz6.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz7.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz8.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz9.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz10.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz11.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz12.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz13.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz14.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz15.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz16.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz17.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz18.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz19.jpg" alt="英国猛牌" /></a></li>
                	<li><a href="#"><img src="images/bz20.jpg" alt="英国猛牌" /></a></li>
                </ul>
                </div>
            </div>
        </div>
<div class="div_1">
        	<img src="images/tiao2.jpg"/>
            <div class="F_pu">
            <p><span>1F</span>影院配置</p>
            <ul>
            	<li><a href="#">复古风格</a></li>
            	<li><a href="#">前沿风潮</a></li>
            	<li><a href="#">简约时尚</a></li>
            	<li><a href="#">豪华奢侈</a></li>
            	<li><a href="#">80后</a></li>
            	<li><a href="#">90族</a></li>
                <div class="clear"></div>
            </ul>
            <div class="clear"></div>
            </div>
        <div class="f1">
<div class="c_L">
                	<a href="#">
                    <img src="images/xt1.jpg" alt="英国猛牌" />
                    <p>家庭影院案例解析</p>
                    </a>
<a href="#">
                	<img src="images/xt2.jpg" alt="英国猛牌" />
                    <p>家庭影院案例解析</p>
                    </a>
                </div>
          <div class="c_Z">
					<div class="hdwrap2">
  <div class="hdflash f_list">
  <div class="flashlist">
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/01.jpg" alt="意外的恋爱时光 Love Speaks (2013)" title="意外的恋爱时光 Love Speaks (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="意外的恋爱时光 Love Speaks (2013)"
          target="_blank">
            意外的恋爱时光 Love Speaks (2013)
          </a>
        </h2>
        <p>
          该片是一部具备亲切自然风格的浪漫气质喜剧，讲述毫无交集的两个人在寻觅爱情，抓住爱情的路上遭遇"意外"，却在意外后经历一段浪漫又离奇，文艺又幽默的"恋爱时光"的爱情奇遇记，探讨两个社会地位、人生阅历大相径庭的都市男女在剥开物质外衣，摒弃金钱元素后，对于爱情真谛和理想婚姻的追寻。...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/02.jpg" alt="钢铁侠3Iron Man 3 (2013)" title="钢铁侠3Iron Man 3 (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="钢铁侠3Iron Man 3 (2013)"
          target="_blank">
            钢铁侠3Iron Man 3 (2013)
          </a>
        </h2>
        <p>
          在《钢铁侠3》中，托尼·斯塔克将遭遇到一个能力似乎没有界限的强敌的挑战。这个人毁坏了斯塔克的生活，而斯塔克只有依靠着自己精良的高科技的装备才能去寻找究竟是谁才是幕后的元凶。在寻找的过程中，斯塔克非常依赖自己的钢铁服，每一次转折都在测试着他的勇气。当他最终找到强敌，
          并且准备展开反戈一击的时候，斯塔克顿时发现了自...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/03.jpg" alt="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)"
        title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)" width="600"
        height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)"
          target="_blank">
            致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)
          </a>
        </h2>
        <p>
          自喻为"玉面小飞龙"的郑微，洋溢着青春活力，心怀着对邻家哥哥——林静浓浓的爱意，来到大学。可是当她联系林静的时候，却发现出国的林静并没有告诉她任何消息。生性豁达的她，埋藏起自己的爱情，享受大学时代的快乐生活。却意外地爱上同学校的陈孝正，板正、自闭而又敏感、自尊的陈孝正却在毕业的时候又选择了出国放弃了郑微。
          几...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/04.jpg" alt=" 疯狂原始人 The Croods (2013)" title=" 疯狂原始人 The Croods (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title=" 疯狂原始人 The Croods (2013)"
          target="_blank">
            疯狂原始人 The Croods (2013)
          </a>
        </h2>
        <p>
          原始人克鲁德一家六口在老爸Grug（尼古拉斯·凯奇 Nicolas Cage 配音）的庇护下生活。每天抢夺鸵鸟蛋为食，躲避野兽的追击，每晚听老爸叙述同一个故事，在山洞里过着一成不变的生活。大女儿EEP（艾玛·斯通
          Emma Stone 配音）是一个和老爸性格截然相反的充满好奇心的女孩，她不满足一辈子留在这个小山洞里，一心想要追逐山洞外面的世...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/05.jpg" alt="同谋 Conspirators (2013)"
        title="同谋 Conspirators (2013)" width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.afeidy.com/?s=vod-read-id-1985.html" title="同谋 Conspirators (2013)"
          target="_blank">
            同谋 Conspirators (2013)
          </a>
        </h2>
        <p>
          泰国私家侦探陈探（郭富城 饰）年幼父母失踪，长大后为了寻找父母的踪迹而当上私家侦探，在查案中发现父母已死，誓要找到杀害父母的凶手。几经辗转终于得知当年父母的朋友柴叔在马来西亚，便只身前往，然而柴叔却说知道真相的鹏哥已经死了。此时陈探接到电话得知家中被盗，连夜赶回家后发现屋子被翻了个底朝天，甚至连自己都不知道的...
        </p>
      </div>
    </div>
  </div>
  <div class="flash_tab">
    <div class="tabs f_tabs" style="width:190px;">
      <ul>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="意外的恋爱时光 Love Speaks (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="钢铁侠3Iron Man 3 (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title=" 疯狂原始人 The Croods (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="同谋 Conspirators (2013)">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <script type="text/javascript">
    FeatureList(".hdwrap2 .f_list", {
      "onclass": "noopdiv",
      "offclass": "opdiv",
      "pause_on_act": "mouseover",
      "interval": 5000,
      "speed": 5
    });
  </script>
</div>
</div>
          </div>
<div class="c_R">
                    	<p>家庭影院案例</p>
                        	<ul>
                            	<li><a href="#">新疆乌鲁木齐别墅影音案例</a></li>
                            	<li><a href="#">2013年最新家庭影院设计</a></li>
                            	<li><a href="#">紫玉别墅家庭影院项目</a></li>
                            	<li><a href="#">格拉斯小镇独栋别墅家庭</a></li>
                            	<li><a href="#">北京普通别墅家庭影院效</a></li>
                            	<li><a href="#">时尚奢华小巧而高贵的家</a></li>
                            	<li><a href="#">北京普通别墅家庭影院经</a></li>
                            	<li><a href="#">温都水城行宫,经典家庭</a></li>
                            	<li><a href="#">专业3D家庭影院案例----</a></li>
                            	<li><a href="#">更多</a></li>
                            </ul>
                </div>
                <div class="clear"></div>
  </div>
        </div>
<div class="div_1">
        	<img src="images/tiao2.jpg"/>
            <div class="F_pu">
            <p><span>2F</span>智能家居</p>
            <ul>
            	<li><a href="#">复古风格</a></li>
            	<li><a href="#">前沿风潮</a></li>
            	<li><a href="#">简约时尚</a></li>
            	<li><a href="#">豪华奢侈</a></li>
            	<li><a href="#">80后</a></li>
            	<li><a href="#">90族</a></li>
                <div class="clear"></div>
            </ul>
            <div class="clear"></div>
            </div>
        <div class="f1">
<div class="c_L">
                	<a href="#">
                    <img src="images/xt1.jpg" alt="英国猛牌" />
                    <p>家庭影院案例解析</p>
                    </a>
<a href="#">
                	<img src="images/xt2.jpg" alt="英国猛牌" />
                    <p>家庭影院案例解析</p>
                    </a>
                </div>
          <div class="c_Z">
					<div class="hdwrap3">
  <div class="hdflash f_list">
  <div class="flashlist">
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/01.jpg" alt="意外的恋爱时光 Love Speaks (2013)" title="意外的恋爱时光 Love Speaks (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="意外的恋爱时光 Love Speaks (2013)"
          target="_blank">
            意外的恋爱时光 Love Speaks (2013)
          </a>
        </h2>
        <p>
          该片是一部具备亲切自然风格的浪漫气质喜剧，讲述毫无交集的两个人在寻觅爱情，抓住爱情的路上遭遇"意外"，却在意外后经历一段浪漫又离奇，文艺又幽默的"恋爱时光"的爱情奇遇记，探讨两个社会地位、人生阅历大相径庭的都市男女在剥开物质外衣，摒弃金钱元素后，对于爱情真谛和理想婚姻的追寻。...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/02.jpg" alt="钢铁侠3Iron Man 3 (2013)" title="钢铁侠3Iron Man 3 (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="钢铁侠3Iron Man 3 (2013)"
          target="_blank">
            钢铁侠3Iron Man 3 (2013)
          </a>
        </h2>
        <p>
          在《钢铁侠3》中，托尼·斯塔克将遭遇到一个能力似乎没有界限的强敌的挑战。这个人毁坏了斯塔克的生活，而斯塔克只有依靠着自己精良的高科技的装备才能去寻找究竟是谁才是幕后的元凶。在寻找的过程中，斯塔克非常依赖自己的钢铁服，每一次转折都在测试着他的勇气。当他最终找到强敌，
          并且准备展开反戈一击的时候，斯塔克顿时发现了自...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/03.jpg" alt="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)"
        title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)" width="600"
        height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)"
          target="_blank">
            致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)
          </a>
        </h2>
        <p>
          自喻为"玉面小飞龙"的郑微，洋溢着青春活力，心怀着对邻家哥哥——林静浓浓的爱意，来到大学。可是当她联系林静的时候，却发现出国的林静并没有告诉她任何消息。生性豁达的她，埋藏起自己的爱情，享受大学时代的快乐生活。却意外地爱上同学校的陈孝正，板正、自闭而又敏感、自尊的陈孝正却在毕业的时候又选择了出国放弃了郑微。
          几...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/04.jpg" alt=" 疯狂原始人 The Croods (2013)" title=" 疯狂原始人 The Croods (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title=" 疯狂原始人 The Croods (2013)"
          target="_blank">
            疯狂原始人 The Croods (2013)
          </a>
        </h2>
        <p>
          原始人克鲁德一家六口在老爸Grug（尼古拉斯·凯奇 Nicolas Cage 配音）的庇护下生活。每天抢夺鸵鸟蛋为食，躲避野兽的追击，每晚听老爸叙述同一个故事，在山洞里过着一成不变的生活。大女儿EEP（艾玛·斯通
          Emma Stone 配音）是一个和老爸性格截然相反的充满好奇心的女孩，她不满足一辈子留在这个小山洞里，一心想要追逐山洞外面的世...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/05.jpg" alt="同谋 Conspirators (2013)"
        title="同谋 Conspirators (2013)" width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.afeidy.com/?s=vod-read-id-1985.html" title="同谋 Conspirators (2013)"
          target="_blank">
            同谋 Conspirators (2013)
          </a>
        </h2>
        <p>
          泰国私家侦探陈探（郭富城 饰）年幼父母失踪，长大后为了寻找父母的踪迹而当上私家侦探，在查案中发现父母已死，誓要找到杀害父母的凶手。几经辗转终于得知当年父母的朋友柴叔在马来西亚，便只身前往，然而柴叔却说知道真相的鹏哥已经死了。此时陈探接到电话得知家中被盗，连夜赶回家后发现屋子被翻了个底朝天，甚至连自己都不知道的...
        </p>
      </div>
    </div>
  </div>
  <div class="flash_tab">
    <div class="tabs f_tabs" style="width:190px;">
      <ul>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="意外的恋爱时光 Love Speaks (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="钢铁侠3Iron Man 3 (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title=" 疯狂原始人 The Croods (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="同谋 Conspirators (2013)">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <script type="text/javascript">
    FeatureList(".hdwrap3 .f_list", {
      "onclass": "noopdiv",
      "offclass": "opdiv",
      "pause_on_act": "mouseover",
      "interval": 5000,
      "speed": 5
    });
  </script>
</div>
</div>
          </div>
<div class="c_R">
                    	<p>家庭影院案例</p>
                        	<ul>
                            	<li><a href="#">新疆乌鲁木齐别墅影音案例</a></li>
                            	<li><a href="#">2013年最新家庭影院设计</a></li>
                            	<li><a href="#">紫玉别墅家庭影院项目</a></li>
                            	<li><a href="#">格拉斯小镇独栋别墅家庭</a></li>
                            	<li><a href="#">北京普通别墅家庭影院效</a></li>
                            	<li><a href="#">时尚奢华小巧而高贵的家</a></li>
                            	<li><a href="#">北京普通别墅家庭影院经</a></li>
                            	<li><a href="#">温都水城行宫,经典家庭</a></li>
                            	<li><a href="#">专业3D家庭影院案例----</a></li>
                            	<li><a href="#">更多</a></li>
                            </ul>
                </div>
                <div class="clear"></div>
  </div>
        </div>
<div class="div_1">
        	<img src="images/tiao2.jpg"/>
            <div class="F_pu">
            <p><span>3F</span>KTV</p>
            <ul>
            	<li><a href="#">复古风格</a></li>
            	<li><a href="#">前沿风潮</a></li>
            	<li><a href="#">简约时尚</a></li>
            	<li><a href="#">豪华奢侈</a></li>
            	<li><a href="#">80后</a></li>
            	<li><a href="#">90族</a></li>
                <div class="clear"></div>
            </ul>
            <div class="clear"></div>
            </div>
        <div class="f1">
<div class="c_L">
                	<a href="#">
                    <img src="images/xt1.jpg" alt="英国猛牌" />
                    <p>家庭影院案例解析</p>
                    </a>
<a href="#">
                	<img src="images/xt2.jpg" alt="英国猛牌" />
                    <p>家庭影院案例解析</p>
                    </a>
                </div>
          <div class="c_Z">
					<div class="hdwrap4">
  <div class="hdflash f_list">
  <div class="flashlist">
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/01.jpg" alt="意外的恋爱时光 Love Speaks (2013)" title="意外的恋爱时光 Love Speaks (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="意外的恋爱时光 Love Speaks (2013)"
          target="_blank">
            意外的恋爱时光 Love Speaks (2013)
          </a>
        </h2>
        <p>
          该片是一部具备亲切自然风格的浪漫气质喜剧，讲述毫无交集的两个人在寻觅爱情，抓住爱情的路上遭遇"意外"，却在意外后经历一段浪漫又离奇，文艺又幽默的"恋爱时光"的爱情奇遇记，探讨两个社会地位、人生阅历大相径庭的都市男女在剥开物质外衣，摒弃金钱元素后，对于爱情真谛和理想婚姻的追寻。...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/02.jpg" alt="钢铁侠3Iron Man 3 (2013)" title="钢铁侠3Iron Man 3 (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="钢铁侠3Iron Man 3 (2013)"
          target="_blank">
            钢铁侠3Iron Man 3 (2013)
          </a>
        </h2>
        <p>
          在《钢铁侠3》中，托尼·斯塔克将遭遇到一个能力似乎没有界限的强敌的挑战。这个人毁坏了斯塔克的生活，而斯塔克只有依靠着自己精良的高科技的装备才能去寻找究竟是谁才是幕后的元凶。在寻找的过程中，斯塔克非常依赖自己的钢铁服，每一次转折都在测试着他的勇气。当他最终找到强敌，
          并且准备展开反戈一击的时候，斯塔克顿时发现了自...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/03.jpg" alt="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)"
        title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)" width="600"
        height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)"
          target="_blank">
            致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)
          </a>
        </h2>
        <p>
          自喻为"玉面小飞龙"的郑微，洋溢着青春活力，心怀着对邻家哥哥——林静浓浓的爱意，来到大学。可是当她联系林静的时候，却发现出国的林静并没有告诉她任何消息。生性豁达的她，埋藏起自己的爱情，享受大学时代的快乐生活。却意外地爱上同学校的陈孝正，板正、自闭而又敏感、自尊的陈孝正却在毕业的时候又选择了出国放弃了郑微。
          几...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/04.jpg" alt=" 疯狂原始人 The Croods (2013)" title=" 疯狂原始人 The Croods (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title=" 疯狂原始人 The Croods (2013)"
          target="_blank">
            疯狂原始人 The Croods (2013)
          </a>
        </h2>
        <p>
          原始人克鲁德一家六口在老爸Grug（尼古拉斯·凯奇 Nicolas Cage 配音）的庇护下生活。每天抢夺鸵鸟蛋为食，躲避野兽的追击，每晚听老爸叙述同一个故事，在山洞里过着一成不变的生活。大女儿EEP（艾玛·斯通
          Emma Stone 配音）是一个和老爸性格截然相反的充满好奇心的女孩，她不满足一辈子留在这个小山洞里，一心想要追逐山洞外面的世...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/05.jpg" alt="同谋 Conspirators (2013)"
        title="同谋 Conspirators (2013)" width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.afeidy.com/?s=vod-read-id-1985.html" title="同谋 Conspirators (2013)"
          target="_blank">
            同谋 Conspirators (2013)
          </a>
        </h2>
        <p>
          泰国私家侦探陈探（郭富城 饰）年幼父母失踪，长大后为了寻找父母的踪迹而当上私家侦探，在查案中发现父母已死，誓要找到杀害父母的凶手。几经辗转终于得知当年父母的朋友柴叔在马来西亚，便只身前往，然而柴叔却说知道真相的鹏哥已经死了。此时陈探接到电话得知家中被盗，连夜赶回家后发现屋子被翻了个底朝天，甚至连自己都不知道的...
        </p>
      </div>
    </div>
  </div>
  <div class="flash_tab">
    <div class="tabs f_tabs" style="width:190px;">
      <ul>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="意外的恋爱时光 Love Speaks (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="钢铁侠3Iron Man 3 (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title=" 疯狂原始人 The Croods (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="同谋 Conspirators (2013)">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <script type="text/javascript">
    FeatureList(".hdwrap4 .f_list", {
      "onclass": "noopdiv",
      "offclass": "opdiv",
      "pause_on_act": "mouseover",
      "interval": 5000,
      "speed": 5
    });
  </script>
</div>
</div>
          </div>
<div class="c_R">
                    	<p>家庭影院案例</p>
                        	<ul>
                            	<li><a href="#">新疆乌鲁木齐别墅影音案例</a></li>
                            	<li><a href="#">2013年最新家庭影院设计</a></li>
                            	<li><a href="#">紫玉别墅家庭影院项目</a></li>
                            	<li><a href="#">格拉斯小镇独栋别墅家庭</a></li>
                            	<li><a href="#">北京普通别墅家庭影院效</a></li>
                            	<li><a href="#">时尚奢华小巧而高贵的家</a></li>
                            	<li><a href="#">北京普通别墅家庭影院经</a></li>
                            	<li><a href="#">温都水城行宫,经典家庭</a></li>
                            	<li><a href="#">专业3D家庭影院案例----</a></li>
                            	<li><a href="#">更多</a></li>
                            </ul>
                </div>
                <div class="clear"></div>
  </div>
        </div>
<div class="div_1">
        	<img src="images/tiao2.jpg"/>
            <div class="F_pu">
            <p><span>4F</span>背景音乐</p>
            <ul>
            	<li><a href="#">复古风格</a></li>
            	<li><a href="#">前沿风潮</a></li>
            	<li><a href="#">简约时尚</a></li>
            	<li><a href="#">豪华奢侈</a></li>
            	<li><a href="#">80后</a></li>
            	<li><a href="#">90族</a></li>
                <div class="clear"></div>
            </ul>
            <div class="clear"></div>
            </div>
        <div class="f1">
<div class="c_L">
                	<a href="#">
                    <img src="images/xt1.jpg" alt="英国猛牌" />
                    <p>家庭影院案例解析</p>
                    </a>
<a href="#">
                	<img src="images/xt2.jpg" alt="英国猛牌" />
                    <p>家庭影院案例解析</p>
                    </a>
                </div>
          <div class="c_Z">
					<div class="hdwrap5">
  <div class="hdflash f_list">
  <div class="flashlist">
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/01.jpg" alt="意外的恋爱时光 Love Speaks (2013)" title="意外的恋爱时光 Love Speaks (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="意外的恋爱时光 Love Speaks (2013)"
          target="_blank">
            意外的恋爱时光 Love Speaks (2013)
          </a>
        </h2>
        <p>
          该片是一部具备亲切自然风格的浪漫气质喜剧，讲述毫无交集的两个人在寻觅爱情，抓住爱情的路上遭遇"意外"，却在意外后经历一段浪漫又离奇，文艺又幽默的"恋爱时光"的爱情奇遇记，探讨两个社会地位、人生阅历大相径庭的都市男女在剥开物质外衣，摒弃金钱元素后，对于爱情真谛和理想婚姻的追寻。...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/02.jpg" alt="钢铁侠3Iron Man 3 (2013)" title="钢铁侠3Iron Man 3 (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="钢铁侠3Iron Man 3 (2013)"
          target="_blank">
            钢铁侠3Iron Man 3 (2013)
          </a>
        </h2>
        <p>
          在《钢铁侠3》中，托尼·斯塔克将遭遇到一个能力似乎没有界限的强敌的挑战。这个人毁坏了斯塔克的生活，而斯塔克只有依靠着自己精良的高科技的装备才能去寻找究竟是谁才是幕后的元凶。在寻找的过程中，斯塔克非常依赖自己的钢铁服，每一次转折都在测试着他的勇气。当他最终找到强敌，
          并且准备展开反戈一击的时候，斯塔克顿时发现了自...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/03.jpg" alt="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)"
        title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)" width="600"
        height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)"
          target="_blank">
            致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)
          </a>
        </h2>
        <p>
          自喻为"玉面小飞龙"的郑微，洋溢着青春活力，心怀着对邻家哥哥——林静浓浓的爱意，来到大学。可是当她联系林静的时候，却发现出国的林静并没有告诉她任何消息。生性豁达的她，埋藏起自己的爱情，享受大学时代的快乐生活。却意外地爱上同学校的陈孝正，板正、自闭而又敏感、自尊的陈孝正却在毕业的时候又选择了出国放弃了郑微。
          几...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/04.jpg" alt=" 疯狂原始人 The Croods (2013)" title=" 疯狂原始人 The Croods (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title=" 疯狂原始人 The Croods (2013)"
          target="_blank">
            疯狂原始人 The Croods (2013)
          </a>
        </h2>
        <p>
          原始人克鲁德一家六口在老爸Grug（尼古拉斯·凯奇 Nicolas Cage 配音）的庇护下生活。每天抢夺鸵鸟蛋为食，躲避野兽的追击，每晚听老爸叙述同一个故事，在山洞里过着一成不变的生活。大女儿EEP（艾玛·斯通
          Emma Stone 配音）是一个和老爸性格截然相反的充满好奇心的女孩，她不满足一辈子留在这个小山洞里，一心想要追逐山洞外面的世...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/05.jpg" alt="同谋 Conspirators (2013)"
        title="同谋 Conspirators (2013)" width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.afeidy.com/?s=vod-read-id-1985.html" title="同谋 Conspirators (2013)"
          target="_blank">
            同谋 Conspirators (2013)
          </a>
        </h2>
        <p>
          泰国私家侦探陈探（郭富城 饰）年幼父母失踪，长大后为了寻找父母的踪迹而当上私家侦探，在查案中发现父母已死，誓要找到杀害父母的凶手。几经辗转终于得知当年父母的朋友柴叔在马来西亚，便只身前往，然而柴叔却说知道真相的鹏哥已经死了。此时陈探接到电话得知家中被盗，连夜赶回家后发现屋子被翻了个底朝天，甚至连自己都不知道的...
        </p>
      </div>
    </div>
  </div>
  <div class="flash_tab">
    <div class="tabs f_tabs" style="width:190px;">
      <ul>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="意外的恋爱时光 Love Speaks (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="钢铁侠3Iron Man 3 (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title=" 疯狂原始人 The Croods (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="同谋 Conspirators (2013)">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <script type="text/javascript">
    FeatureList(".hdwrap5 .f_list", {
      "onclass": "noopdiv",
      "offclass": "opdiv",
      "pause_on_act": "mouseover",
      "interval": 5000,
      "speed": 5
    });
  </script>
</div>
</div>
          </div>
<div class="c_R">
                    	<p>家庭影院案例</p>
                        	<ul>
                            	<li><a href="#">新疆乌鲁木齐别墅影音案例</a></li>
                            	<li><a href="#">2013年最新家庭影院设计</a></li>
                            	<li><a href="#">紫玉别墅家庭影院项目</a></li>
                            	<li><a href="#">格拉斯小镇独栋别墅家庭</a></li>
                            	<li><a href="#">北京普通别墅家庭影院效</a></li>
                            	<li><a href="#">时尚奢华小巧而高贵的家</a></li>
                            	<li><a href="#">北京普通别墅家庭影院经</a></li>
                            	<li><a href="#">温都水城行宫,经典家庭</a></li>
                            	<li><a href="#">专业3D家庭影院案例----</a></li>
                            	<li><a href="#">更多</a></li>
                            </ul>
                </div>
                <div class="clear"></div>
  </div>
        </div>
<div class="div_1">
        	<img src="images/tiao2.jpg"/>
            <div class="F_pu">
            <p><span>5F</span>视频会议</p>
            <ul>
            	<li><a href="#">复古风格</a></li>
            	<li><a href="#">前沿风潮</a></li>
            	<li><a href="#">简约时尚</a></li>
            	<li><a href="#">豪华奢侈</a></li>
            	<li><a href="#">80后</a></li>
            	<li><a href="#">90族</a></li>
                <div class="clear"></div>
            </ul>
            <div class="clear"></div>
            </div>
        <div class="f1">
<div class="c_L">
                	<a href="#">
                    <img src="images/xt1.jpg" alt="英国猛牌" />
                    <p>家庭影院案例解析</p>
                    </a>
<a href="#">
                	<img src="images/xt2.jpg" alt="英国猛牌" />
                    <p>家庭影院案例解析</p>
                    </a>
                </div>
          <div class="c_Z">
					<div class="hdwrap6">
  <div class="hdflash f_list">
  <div class="flashlist">
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/01.jpg" alt="意外的恋爱时光 Love Speaks (2013)" title="意外的恋爱时光 Love Speaks (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="意外的恋爱时光 Love Speaks (2013)"
          target="_blank">
            意外的恋爱时光 Love Speaks (2013)
          </a>
        </h2>
        <p>
          该片是一部具备亲切自然风格的浪漫气质喜剧，讲述毫无交集的两个人在寻觅爱情，抓住爱情的路上遭遇"意外"，却在意外后经历一段浪漫又离奇，文艺又幽默的"恋爱时光"的爱情奇遇记，探讨两个社会地位、人生阅历大相径庭的都市男女在剥开物质外衣，摒弃金钱元素后，对于爱情真谛和理想婚姻的追寻。...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/02.jpg" alt="钢铁侠3Iron Man 3 (2013)" title="钢铁侠3Iron Man 3 (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="钢铁侠3Iron Man 3 (2013)"
          target="_blank">
            钢铁侠3Iron Man 3 (2013)
          </a>
        </h2>
        <p>
          在《钢铁侠3》中，托尼·斯塔克将遭遇到一个能力似乎没有界限的强敌的挑战。这个人毁坏了斯塔克的生活，而斯塔克只有依靠着自己精良的高科技的装备才能去寻找究竟是谁才是幕后的元凶。在寻找的过程中，斯塔克非常依赖自己的钢铁服，每一次转折都在测试着他的勇气。当他最终找到强敌，
          并且准备展开反戈一击的时候，斯塔克顿时发现了自...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/03.jpg" alt="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)"
        title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)" width="600"
        height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)"
          target="_blank">
            致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)
          </a>
        </h2>
        <p>
          自喻为"玉面小飞龙"的郑微，洋溢着青春活力，心怀着对邻家哥哥——林静浓浓的爱意，来到大学。可是当她联系林静的时候，却发现出国的林静并没有告诉她任何消息。生性豁达的她，埋藏起自己的爱情，享受大学时代的快乐生活。却意外地爱上同学校的陈孝正，板正、自闭而又敏感、自尊的陈孝正却在毕业的时候又选择了出国放弃了郑微。
          几...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/04.jpg" alt=" 疯狂原始人 The Croods (2013)" title=" 疯狂原始人 The Croods (2013)"
        width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.fuhess.com/" title=" 疯狂原始人 The Croods (2013)"
          target="_blank">
            疯狂原始人 The Croods (2013)
          </a>
        </h2>
        <p>
          原始人克鲁德一家六口在老爸Grug（尼古拉斯·凯奇 Nicolas Cage 配音）的庇护下生活。每天抢夺鸵鸟蛋为食，躲避野兽的追击，每晚听老爸叙述同一个故事，在山洞里过着一成不变的生活。大女儿EEP（艾玛·斯通
          Emma Stone 配音）是一个和老爸性格截然相反的充满好奇心的女孩，她不满足一辈子留在这个小山洞里，一心想要追逐山洞外面的世...
        </p>
      </div>
    </div>
    <div class="f_out">
      <a href="http://www.fuhess.com/" target="_blank">
        <img src="images/05.jpg" alt="同谋 Conspirators (2013)"
        title="同谋 Conspirators (2013)" width="600" height="380" />
      </a>
      <div class="picintro">
        <h2>
          <a href="http://www.afeidy.com/?s=vod-read-id-1985.html" title="同谋 Conspirators (2013)"
          target="_blank">
            同谋 Conspirators (2013)
          </a>
        </h2>
        <p>
          泰国私家侦探陈探（郭富城 饰）年幼父母失踪，长大后为了寻找父母的踪迹而当上私家侦探，在查案中发现父母已死，誓要找到杀害父母的凶手。几经辗转终于得知当年父母的朋友柴叔在马来西亚，便只身前往，然而柴叔却说知道真相的鹏哥已经死了。此时陈探接到电话得知家中被盗，连夜赶回家后发现屋子被翻了个底朝天，甚至连自己都不知道的...
        </p>
      </div>
    </div>
  </div>
  <div class="flash_tab">
    <div class="tabs f_tabs" style="width:190px;">
      <ul>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="意外的恋爱时光 Love Speaks (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="钢铁侠3Iron Man 3 (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="致我们终将逝去的青春 So Young / To Our Youth That To Fading Away (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title=" 疯狂原始人 The Croods (2013)">
          </a>
        </li>
        <li class="f_tab opdiv">
          <a href="javascript:void(0);" title="同谋 Conspirators (2013)">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <script type="text/javascript">
    FeatureList(".hdwrap6 .f_list", {
      "onclass": "noopdiv",
      "offclass": "opdiv",
      "pause_on_act": "mouseover",
      "interval": 5000,
      "speed": 5
    });
  </script>
</div>
</div>
          </div>
<div class="c_R">
                    	<p>家庭影院案例</p>
                        	<ul>
                            	<li><a href="#">新疆乌鲁木齐别墅影音案例</a></li>
                            	<li><a href="#">2013年最新家庭影院设计</a></li>
                            	<li><a href="#">紫玉别墅家庭影院项目</a></li>
                            	<li><a href="#">格拉斯小镇独栋别墅家庭</a></li>
                            	<li><a href="#">北京普通别墅家庭影院效</a></li>
                            	<li><a href="#">时尚奢华小巧而高贵的家</a></li>
                            	<li><a href="#">北京普通别墅家庭影院经</a></li>
                            	<li><a href="#">温都水城行宫,经典家庭</a></li>
                            	<li><a href="#">专业3D家庭影院案例----</a></li>
                            	<li><a href="#">更多</a></li>
                            </ul>
                </div>
                <div class="clear"></div>
  </div>
        </div>
    </div>
    <div id="dibu">
    <ul id="ul_1">
        <li class="ul_11">
        	<a href="#"><h3>家庭影院</h3></a>
        	<a href="#"><img src="images/f_img1.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵</a></li>
            	<li><a href="#">背京普通别墅家庭影</a></li>
            	<li><a href="#">更多</a></li>
            </ul>
        </li>
        <li class="ul_11">
        	<a href="#"><h3>智能家居</h3></a>
        	<a href="#"><img src="images/f_img2.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵</a></li>
            	<li><a href="#">背京普通别墅家庭影</a></li>
            	<li><a href="#">更多</a></li>
            </ul>
        </li>
        <li class="ul_11">
        	<a href="#"><h3>KTV</h3></a>
        	<a href="#"><img src="images/f_img3.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵</a></li>
            	<li><a href="#">背京普通别墅家庭影</a></li>
            	<li><a href="#">更多</a></li>
            </ul>
        </li>
        <li class="ul_11">
        	<a href="#"><h3>背景音乐</h3></a>
        	<a href="#"><img src="images/f_img4.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵</a></li>
            	<li><a href="#">背京普通别墅家庭影</a></li>
            	<li><a href="#">更多</a></li>
            </ul>
        </li>
        <li class="ul_11">
        	<a href="#"><h3>影音室装修</h3></a>
        	<a href="#"><img src="images/f_img5.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵</a></li>
            	<li><a href="#">背京普通别墅家庭影</a></li>
            	<li><a href="#">更多</a></li>
            </ul>
        </li>
        <li class="ul_11">
        	<a href="#"><h3>视频会议</h3></a>
        	<a href="#"><img src="images/f_img6.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵<a></li>
            	<li><a href="#">背京普通别墅家庭影<a></li>
            	<li><a href="#">更多<a></li>
            </ul>
        </li>
        <div class="clear"></div>
    </ul>
    </div>
    <div id="footer">
   	  <ul class="ul_f0">
      	<li class="li_s">
        	<p>关于我们</p>
            <ul>
            	<li><a href="#">联系方式</a></li>
            	<li><a href="#">公司地址</a></li>
            	<li><a href="#">机构认证</a></li>
            </ul>
        </li>
      	<li class="li_s">
        	<p>我们的优势</p>
            <ul>
            	<li><a href="#">待编辑待</a></li>
            	<li><a href="#">待编辑待</a></li>
            	<li><a href="#">待编辑待</a></li>
            </ul>
        </li>
      	<li class="li_s">
        	<p><img src="images/logo.gif" /></p>
            <ul>
            	<li><a href="#">工程师在线</a></li>
            	<li class="li_tel">400-708-8609</li>
            </ul>
        </li>
      	<li class="li_s">
        	<p>商家服务</p>
            <ul>
            	<li><a href="#">质量保证</a></li>
            	<li><a href="#">上门安装</a></li>
            	<li><a href="#">售后维护</a></li>
            </ul>
        </li>
      	<li class="li_none">
        	<p>公司荣誉</p>
            <ul>
            	<li><a href="#">AAAAAAA</a></li>
            	<li><a href="#">BBBBBBB</a></li>
            	<li><a href="#">CCCCCCC</a></li>
            </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="clear"></div>
      <ul class="ul_f1">
<li class="f_li_1"><a href="#">了解富和双盛</a></li>
        	<li><a href="#">联系富和双盛</a></li>
        	<li><a href="#">版权声明</a></li>
        	<li><a href="#">友情链接</a></li>
        	<li><a href="#">商务合作</a></li>
        	<li><a href="#">分类大全</a></li>
        	<li><a href="#">问题大全</a></li>
            <div class="clear"></div>
      </ul>
      <ul class="ul_f2">
        	<li>Copyright&nbsp;; 2008 - 2012 fuhess Inc.富和双盛出品 版权所有 </li>
        	<li> 买音响 上富和双盛 </li>
        	<li> 京ICP 备10218666号-1 </li>
        	<li> 公安备案号：110102000716 </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
<div></div>
</body>
</html>
