<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="description" content="家庭影院经典案例，家庭影院效果图，智能家居案例，视频会议案例，咨询热线:010-82960908,010-82960918" />
<meta name="keywords" content="家庭影院|家庭影院设计|智能家居装修|家庭KTV方案" />
<title>家庭影院案例|家庭影院设计|家庭影院推荐|智能家居案例|视频会议案例-北京富和双盛科技有限公司</title>
<link rel="stylesheet" type="text/css" href="css/base.css" />
<link rel="stylesheet" type="text/css" href="css/list.css" />
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/kxbdSuperMarquee.js"></script>
<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
<!--[if IE 6]><script src="js/DD_belatedPNG.js"></script><script>  DD_belatedPNG.fix('#top_3_inner li a:hover,.t3_a');</script><![endif]-->
<script type="text/javascript">
	$(document).ready(function(){
	$(".znjj_x").addClass("nav123_bg")		
	$(".nav li a").hover(function(){$(".nav li a").removeClass("nav123_bg");$(this).addClass("nav123_bg")});
	
	$(".MRB4").hide();
	$(".MRB4:nth-child(2)").show();
	$(".nav li:nth-child(1)").hover(function(){
		$(".MRB4").hide();
		$(".MRB4:nth-child(1)").show();
		})
	$(".nav li:nth-child(2)").hover(function(){
		$(".MRB4").hide();
		$(".MRB4:nth-child(2)").show();
		})
	$(".nav li:nth-child(3)").hover(function(){
		$(".MRB4").hide();
		$(".MRB4:nth-child(3)").show();
		})
	$(".nav li:nth-child(4)").hover(function(){
		$(".MRB4").hide();
		$(".MRB4:nth-child(4)").show();
		})
	$(".nav li:nth-child(5)").hover(function(){
		$(".MRB4").hide();
		$(".MRB4:nth-child(5)").show();
		})
})
</script>

</head>
<body>

<div id="wrap">
  <div>
        <div id="top_1">
            <div id="top_1_inner">
                <!-- Baidu Button BEGIN -->
                <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                <span class="bds_more">分享到：</span>
                <a class="bds_qzone"></a>
                <a class="bds_tsina"></a>
                <a class="bds_tqq"></a>
                <a class="bds_renren"></a>
                <a class="bds_t163"></a>
                <a class="shareCount"></a>
                </div>
                <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=789724" ></script>
                <script type="text/javascript" id="bdshell_js"></script>
                <script type="text/javascript">
                document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
                </script>
                <!-- Baidu Button END -->
				<p class="top1_p_1"><a href="#" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.fuhess.com');">设为主页</a></p>
                <p><a href="#" onclick='window.external.AddFavorite("http://www.fuhess.com/","北京富和双盛")'>加入收藏</a></p>
                <p class="top1_P">服务热线：<span>400-706-8609</span></p>
                <div class="clear"></div>
            </div>
        </div>
   		<div id="top_2">
            <div class="t2_1">
            	<img src="images/logo_01.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/>
            </div>
            <div class="t2_2">
            	<p>富和双盛致力于家庭影院领域十几年<br />打造专业影音安装团队</p>
            </div>
            <dl class="t2_3">
            	<dt>全国<span>24h</span>服务热线：<span>400-708-8609</span></dt>
                <dd>工程师24h热线：<span>139-1194-7292</span></dd>
                <dd>努力打造智能家居定制第一品牌</dd>
            </dl>
            <div class="clear"></div>
        </div>
		<div id="top_3">
    	<ul id="top_3_inner">
        	<li><a href="index_fuhss.html">首页</a></li>
        	<li><a href="neirong3.html">家庭影院</a></li>
        	<li><a href="#">视频会议</a></li>
        	<li><a href="#">智能家居</a></li>
        	<li><a href="#">KTV</a></li>
        	<li><a href="#">背景音乐</a></li>
        	<li><a href="#">影音室装修</a></li>
        	<li><a href="list_gb.html"  class="t3_a">经典案例</a></li>
        	<li><a href="#">品味生活</a></li>
        	<li><a href="#">影片推荐</a></li>
        </ul>
    </div>
    </div>
    <div style="width:990px;margin:0 auto">织梦面包屑添加{dede:field name='position'/}</div>
  <div id="main">
  	<div><img src="images/bbt.jpg" width="990px" height="240px" alt="家庭影院"/></div>
  	<div>
    	<ul class="nav">
        	<li><a href="#">家庭影院</a></li>
        	<li><a href="#" class="znjj_x">智能家居</a></li>
        	<li><a href="#">视频会议</a></li>
        	<li><a href="#">KTV</a></li>
        	<li><a href="#">背景音乐</a></li>
            <div class="clear"></div>
        </ul>
  	    <div id="#MRB7">
        <div class="MRB4">
        <dl class="dl_nav">
        	<dt><p>设计理念</p></dt>
            <dd class="dd_1">家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院家庭影院</dd>
        </dl>
        <dl class="dl_nav2">
        	<dt><p>设计案例</p></dt>
            <dd>
            	<ul class="sj_ul">
                	<li>
                    <p>家庭影院音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj1.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>家庭影院音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>家庭影院</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>家庭影院音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj1.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>家庭影院音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>家庭影院</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>家庭影院音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj1.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>家庭影院音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>家庭影院</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>家庭影院音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj1.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>家庭影院音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>家庭影院</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>家庭影院音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj1.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>家庭影院音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>家庭影院</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>家庭影院音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj1.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>家庭影院音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>家庭影院</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>家庭影院音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj1.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>家庭影院音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>家庭影院</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>家庭影院音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj1.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>家庭影院音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>家庭影院</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>家庭影院音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj1.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>家庭影院音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>家庭影院</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>家庭影院音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj1.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>家庭影院音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>家庭影院</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            </dd>
        </dl>
        </div>
        <div class="MRB4">
        <dl class="dl_nav">
        	<dt><img /><p>设计理念</p></dt>
            <dd class="dd_1">智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居</dd>
        </dl>
        <dl class="dl_nav2">
        	<dt><img /><p>设计案例</p></dt>
            <dd>
            	<ul class="sj_ul">
                	<li>
                    <p>智能家居音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj2.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>智能家居音响装修案例经典分析</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>智能家居</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>智能家居音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj2.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>智能家居音响装修案例经典分析</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>智能家居</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>智能家居音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj2.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>智能家居音响装修案例经典分析</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>智能家居</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>智能家居音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj2.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>智能家居音响装修案例经典分析</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>智能家居</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>智能家居音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj2.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>智能家居音响装修案例经典分析</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>智能家居</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>智能家居音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj2.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>智能家居音响装修案例经典分析</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>智能家居</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>智能家居音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj2.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>智能家居音响装修案例经典分析</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>智能家居</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>智能家居音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj2.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>智能家居音响装修案例经典分析</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>智能家居</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>智能家居音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj2.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>智能家居音响装修案例经典分析</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>智能家居</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>智能家居音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj2.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>智能家居音响装修案例经典分析</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>智能家居</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            </dd>
        </dl>
        </div>
        <div class="MRB4">
        <dl class="dl_nav">
        	<dt><img /><p>设计理念</p></dt>
            <dd class="dd_1">视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议视频会议</dd>
        </dl>
        <dl class="dl_nav2">
        	<dt><img /><p>设计案例</p></dt>
            <dd>
            	<ul class="sj_ul">
                	<li>
                    <p>视频会议案例解析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj3.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>视频会议案例解析音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>视频会议</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>视频会议案例解析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj3.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>视频会议案例解析音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>视频会议</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>视频会议案例解析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj3.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>视频会议案例解析音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>视频会议</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>视频会议案例解析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj3.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>视频会议案例解析音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>视频会议</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>视频会议案例解析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj3.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>视频会议案例解析音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>视频会议</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>视频会议案例解析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj3.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>视频会议案例解析音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>视频会议</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>视频会议案例解析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj3.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>视频会议案例解析音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>视频会议</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>视频会议案例解析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj3.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>视频会议案例解析音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>视频会议</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>视频会议案例解析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj3.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>视频会议案例解析音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>视频会议</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>视频会议案例解析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj3.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>视频会议案例解析音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>视频会议</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            </dd>
        </dl>
        </div>
        <div class="MRB4">
        <dl class="dl_nav">
        	<dt><img /><p>设计理念</p></dt>
            <dd class="dd_1">KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响KTV音响</dd>
        </dl>
        <dl class="dl_nav2">
        	<dt><img /><p>设计案例</p></dt>
            <dd>
            	<ul class="sj_ul">
                	<li>
                    <p>KTV音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj4.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>KTV音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>KTV</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>KTV音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj4.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>KTV音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>KTV</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>KTV音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj4.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>KTV音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>KTV</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>KTV音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj4.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>KTV音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>KTV</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>KTV音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj4.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>KTV音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>KTV</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>KTV音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj4.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>KTV音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>KTV</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>KTV音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj4.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>KTV音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>KTV</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>KTV音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj4.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>KTV音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>KTV</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>KTV音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj4.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>KTV音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>KTV</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>KTV音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj4.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>KTV音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>KTV</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            </dd>
        </dl>
        </div>
        <div class="MRB4">
        <dl class="dl_nav">
        	<dt><img /><p>设计理念</p></dt>
            <dd class="dd_1">背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐背景音乐</dd>
        </dl>
        <dl class="dl_nav2">
        	<dt><img /><p>设计案例</p></dt>
            <dd>
            	<ul class="sj_ul">
                	<li>
                    <p>背景音乐音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj5.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>背景音乐音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>背景音乐</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>背景音乐音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj5.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>背景音乐音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>背景音乐</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>背景音乐音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj5.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>背景音乐音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>背景音乐</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>背景音乐音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj5.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>背景音乐音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>背景音乐</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>背景音乐音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj5.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>背景音乐音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>背景音乐</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>背景音乐音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj5.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>背景音乐音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>背景音乐</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>背景音乐音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj5.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>背景音乐音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>背景音乐</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>背景音乐音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj5.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>背景音乐音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>背景音乐</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>背景音乐音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj5.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>背景音乐音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>背景音乐</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            	<ul class="sj_ul">
                	<li>
                    <p>背景音乐音响装修案例经典分析</p>
                    <div>
                    	<div class="sj_L"><img src="images/sj5.jpg" width="350" height="160"/></div>
                        <ul class="sj_R">
                        	<li>项目名称：<span>背景音乐音响装修</span><a href="">点击了解详情</a></li>
                        	<li>项目地址：<span>北京</span></li>
                        	<li>项目类型：<span>背景音乐</span></li>
                        	<li>设计理念：<span>简约实用</span></li>
                        	<li>项目造价：<span>150W</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    </li>
                </ul>
            </dd>
        </dl>
        </div>
        </div>
    </div>
  </div>
  <div id="dibu">
    <ul id="ul_1">
        <li class="ul_11">
        	<a href="#"><h3>家庭影院</h3></a>
        	<a href="#"><img src="images/f_img1.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵</a></li>
            	<li><a href="#">背京普通别墅家庭影</a></li>
            	<li><a href="#">更多</a></li>
            </ul>
        </li>
        <li class="ul_11">
        	<a href="#"><h3>智能家居</h3></a>
        	<a href="#"><img src="images/f_img2.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵</a></li>
            	<li><a href="#">背京普通别墅家庭影</a></li>
            	<li><a href="#">更多</a></li>
            </ul>
        </li>
        <li class="ul_11">
        	<a href="#"><h3>KTV</h3></a>
        	<a href="#"><img src="images/f_img3.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵</a></li>
            	<li><a href="#">背京普通别墅家庭影</a></li>
            	<li><a href="#">更多</a></li>
            </ul>
        </li>
        <li class="ul_11">
        	<a href="#"><h3>背景音乐</h3></a>
        	<a href="#"><img src="images/f_img4.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵</a></li>
            	<li><a href="#">背京普通别墅家庭影</a></li>
            	<li><a href="#">更多</a></li>
            </ul>
        </li>
        <li class="ul_11">
        	<a href="#"><h3>影音室装修</h3></a>
        	<a href="#"><img src="images/f_img5.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵</a></li>
            	<li><a href="#">背京普通别墅家庭影</a></li>
            	<li><a href="#">更多</a></li>
            </ul>
        </li>
        <li class="ul_11">
        	<a href="#"><h3>视频会议</h3></a>
        	<a href="#"><img src="images/f_img6.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵<a></li>
            	<li><a href="#">背京普通别墅家庭影<a></li>
            	<li><a href="#">更多<a></li>
            </ul>
        </li>
        <div class="clear"></div>
    </ul>
  </div>
    <div id="footer">
   	  <ul class="ul_f0">
      	<li class="li_s">
        	<p>关于我们</p>
            <ul>
            	<li><a href="#">联系方式</a></li>
            	<li><a href="#">公司地址</a></li>
            	<li><a href="#">机构认证</a></li>
            </ul>
        </li>
      	<li class="li_s">
        	<p>我们的优势</p>
            <ul>
            	<li><a href="#">待编辑待</a></li>
            	<li><a href="#">待编辑待</a></li>
            	<li><a href="#">待编辑待</a></li>
            </ul>
        </li>
      	<li class="li_s">
        	<p><img src="images/logo.gif" /></p>
            <ul>
            	<li><a href="#">工程师在线</a></li>
            	<li class="li_tel">400-708-8609</li>
            </ul>
        </li>
      	<li class="li_s">
        	<p>商家服务</p>
            <ul>
            	<li><a href="#">质量保证</a></li>
            	<li><a href="#">上门安装</a></li>
            	<li><a href="#">售后维护</a></li>
            </ul>
        </li>
      	<li class="li_none">
        	<p>公司荣誉</p>
            <ul>
            	<li><a href="#">AAAAAAA</a></li>
            	<li><a href="#">BBBBBBB</a></li>
            	<li><a href="#">CCCCCCC</a></li>
            </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="clear"></div>
      <ul class="ul_f1">
<li class="f_li_1"><a href="#">了解富和双盛</a></li>
        	<li><a href="#">联系富和双盛</a></li>
        	<li><a href="#">版权声明</a></li>
        	<li><a href="#">友情链接</a></li>
        	<li><a href="#">商务合作</a></li>
        	<li><a href="#">分类大全</a></li>
        	<li><a href="#">问题大全</a></li>
            <div class="clear"></div>
      </ul>
      <ul class="ul_f2">
        	<li>Copyright&nbsp;; 2008 - 2012 fuhess Inc.富和双盛出品 版权所有 </li>
        	<li> 买音响 上富和双盛 </li>
        	<li> 京ICP 备10218666号-1 </li>
        	<li> 公安备案号：110102000716 </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
<div></div>
</body>
</html>
