<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="description" content="北京富和双盛科技有限公司是一家实力雄厚的家庭影院、智能家居服务商，提供家庭影院推荐、家庭影院音响设计方案、智能家居控制系统等咨询.咨询热线：010-82960908  400-906-8609" />
<meta name="keywords" content="家庭影院, 家庭影院案例, 家庭影院方案，家庭影院介绍" />
<title>文章标题_家庭影院经典案例|家庭影院设计方案|家庭影院推荐-北京富和双盛科技有限公司</title>
<link rel="stylesheet" type="text/css" href="css/base.css" />
<link rel="stylesheet" type="text/css" href="css/neirong.css" />
 <script type="text/javascript">
  window.onload=function(){
   function adsorption(){
    var headerWrap=document.getElementById('header-wrap');
    var scrollTop=0;
    window.onscroll=function(){
     scrollTop=document.body.scrollTop||document.documentElement.scrollTop;
     if(scrollTop>200){
      headerWrap.className='fixed';
     }else{
      headerWrap.className='header-wrap';
     }
    }
   }
   adsorption();
  }
 </script>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/kxbdSuperMarquee.js"></script>
<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
<!--[if IE 6]><script src="js/DD_belatedPNG.js"></script><script>  DD_belatedPNG.fix('#top_3_inner li a:hover,.t3_a');</script><![endif]-->
<script type="text/javascript">
		$(function(){
			//一次横向滚动一个
			$('#marquee1').kxbdSuperMarquee({
				distance:202,
				time:3,
				btnGo:{left:'#goL',right:'#goR'},
				direction:'left'
			});
 			$("#goL").click(function(){
				return false;
			})
			$("#goR").click(function(){
				return false;
			})			
			});
</script>
<script type="text/javascript">
function showPreview(event) {
$("#featured-preview").show();
};

function hidePreview(event) {
$("#featured-preview").hide();
};

function updatePreview(index) {
$("#featured-preview img").hide().eq( index ).show();
};

function movePreview(event) {
var content_position = $("#featured-content").offset();

$("#featured-preview").css("left", event.pageX - content_position.left - 360);
};

$(document).ready(function() {
var content_els = $("#featured-content a");
var overlay_wrap = $("#featured-overlay");
var overlay_els = $("div", overlay_wrap)

overlay_els
.css('opacity', 0)
.mousemove( movePreview )
.mouseenter(function() {
updatePreview( overlay_els.index( this ) );
})
.click(function() {
window.location.href = content_els.eq( overlay_els.index( this ) ).attr("href");
})
.show();

overlay_wrap
.mouseenter( showPreview )
.mouseleave( hidePreview );

});
</script>
<script type="text/javascript">
$(document).ready(function(){	
	$(".L1 ul").hide();
	$(".L1 ul.ux").show();
	$(".L1 p").click(function(){
		$(".L1 ul").hide();
		$(this).next("ul").show();
		return false;
		})
})
</script>
</head>
<body>

<div id="wrap">
	<div>
        <div id="top_1">
            <div id="top_1_inner">
                <!-- Baidu Button BEGIN -->
                <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                <span class="bds_more">分享到：</span>
                <a class="bds_qzone"></a>
                <a class="bds_tsina"></a>
                <a class="bds_tqq"></a>
                <a class="bds_renren"></a>
                <a class="bds_t163"></a>
                <a class="shareCount"></a>
                </div>
              <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=789724" ></script>
              <script type="text/javascript" id="bdshell_js"></script>
              <script type="text/javascript">
                document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
                </script>
                <!-- Baidu Button END -->
				<p class="top1_p_1"><a href="#" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.fuhess.com');">设为主页</a></p>
                <p><a href="#" onclick='window.external.AddFavorite("http://www.fuhess.com/","北京富和双盛")'>加入收藏</a></p>
                <p class="top1_P">服务热线：<span>400-706-8609</span></p>
                <div class="clear"></div>
            </div>
        </div>
   		<div id="top_2">
            <div class="t2_1">
            	<img src="images/logo_01.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/>
            </div>
            <div class="t2_2">
            	<p>富和双盛致力于家庭影院领域十几年<br />打造专业影音安装团队</p>
            </div>
            <dl class="t2_3">
            	<dt>全国<span>24h</span>服务热线：<span>400-708-8609</span></dt>
                <dd>工程师24h热线：<span>139-1194-7292</span></dd>
                <dd>努力打造智能家居定制第一品牌</dd>
            </dl>
            <div class="clear"></div>
        </div>
		<div id="top_3">
    	<ul id="top_3_inner">
        	<li><a href="index_fuhss.html">首页</a></li>
        	<li><a href="neirong3.html" class="t3_a">家庭影院</a></li>
        	<li><a href="#">视频会议</a></li>
        	<li><a href="#">智能家居</a></li>
        	<li><a href="#">KTV</a></li>
        	<li><a href="#">背景音乐</a></li>
        	<li><a href="#">影音室装修</a></li>
        	<li><a href="list_gb.html">经典案例</a></li>
        	<li><a href="#">品味生活</a></li>
        	<li><a href="#">影片推荐</a></li>
        </ul>
    </div>
    </div>
    <div id="ZB">
    <div style="width:990px;margin:0 auto">织梦面包屑添加{dede:field name='position'/}</div>
    <div id="main">
 <div id="header-wrap" class="header-wrap">
    <div class="main_L">
    		<div class="L1">
        	<p><a href="#">相关案例</a></p>
            <ul class="ux">
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            </ul>
            </div>
    		<div class="L1">
        	<p><a href="#">家庭影院案例</a></p>
            <ul>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            </ul>
            </div>
    		<div class="L1">
        	<p><a href="#">视频会议案例</a></p>
            <ul>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            </ul>
            </div>
    		<div class="L1">
        	<p><a href="#">智能家居案例</a></p>
            <ul>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            </ul>
            </div>
    		<div class="L1">
        	<p><a href="#">KTV案例</a></p>
            <ul>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            </ul>
            </div>
    		<div class="L1">
        	<p><a href="#">背景音乐案例</a></p>
            <ul>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            	<li><a href="#"><span>[</span>家庭影院<span>]</span>家庭影院布线装修</a></li>
            </ul>
            </div>
            <div class="tel_L">
            	<a href="#"><img src="images/kefu_1.jpg"/></a>
            	<a href="#"><img src="images/kefu_2.jpg"/></a>
            	<a href="#"><img src="images/kefu_3.jpg"/></a>
            	<a href="#"><img src="images/kefu_4.jpg"/></a>
            	<a href="#"><img src="images/kefu.jpg"/></a>
            </div>
        </div>
 </div>
    <div class="main_R">
      <dl>
	    <dt>&nbsp;
				</dt>
			<dd style="line-height:26px; font-size:14px; color:#49;background:#FFF;border-radius:8px;-webkit-box-shadow:0 0 10px rgba(0 ,0, 0, 0.2);
-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);padding:10px 15px 10px 15px;">
				<p class="biao_tou">
					2013年5月:后海精品酒店 KTV 3D影音室</p>
				<br />
				<div class="fenge" style="height: 10px">
					&nbsp;</div>
				<p style="line-height:25px;font-size:14px">
					项目造价:</p>
				为102.5万(包含：影院音响备,视频设备,KTV设备，影院装修设计、施工，智能控制系统)<br />
				<div class="fenge" style="height: 5px">
					&nbsp;</div>
				<p style="line-height:25px;font-size:14px">
					客户要求：</p>
				设计风格后现代，设施KTV、3D影院双系统，满足客户的娱乐视听震撼效果<br />
				<div class="fenge" style="height: 5px">
					&nbsp;</div>
				<p style="line-height:25px;font-size:14px">
					设计思路：</p>
				墙面采用进口石材拼接制作，已体现整体大气之感，前墙采用实木开放漆制作，颜色则根据整体方案所调配，使整体感觉稳重。配上整体的家具配饰更能衬托出整体设计的<u>后现代感之美。</u><br />
				声学设计：为了满足影院方面的声学要求，墙体我们采用软包和二次余数扩散板，顶部采用聚酯纤维吸音板配合光纤做成星空造型处理，使声音的平衡度达到最佳<u>保真度更高</u>。</dd>
		</dl>
		<ul class="r_ul_t">
			<li>
				<h3>
					实景照片:</h3>
				<img alt="家庭影院案例,家庭影院设计,家庭影院装修" src="images/1-13050G42542X4.jpg" style="width: 520px" />
				<p>
					后海的客户是一家高档私人会所，根据甲方要求设计风格后现代，设施KTV、3D影院双系统，满足客户的娱乐视听震撼效果。墙面采用进口石材拼接制作，已体现整体大气之感，前墙采用实木开放漆制作，颜色则根据整体方案所调配，使整体感觉稳重。配上整体的家具配饰更能衬托出整体设计的后现代感之美。</p>
			</li>
			<li>
				<h3>
					房间原始平面图:</h3>
				<img alt="家庭影院案例,家庭影院设计,家庭影院装修" src="images/1-13051011504R35.jpg" style="width: 520px; height: 369px;" />
				<p>
					房间整体格局较为合理，但窗户面积较大致使玻璃面增多，声波反射左右不能均衡。 设计建议：将面积较小的窗户封死，其他剩余部分采用加厚窗帘及遮光布进行处理</p>
			</li>
			<li>
				<h3>
					设备配置清单（部分）及产品图片:</h3>
				<div class="chanpin_div">
					<table class="biaoge">
						<tbody>
							<tr>
								<th width="8">&nbsp;
							  </th>
								<th width="135">
									产品名称</th>
								<th width="62">
									品牌</th>
								<th width="41">
									数量</th>
								<th width="16">&nbsp;
							  </th>
								<th width="125">
									产品名称</th>
								<th width="57">
									品牌</th>
								<th width="40">
									数量</th>
							</tr>
							<tr>
								<td>
									<p style="color: #069;font-weight:bold">
										1</p>
								</td>
								<td>
									前置音箱&nbsp;FRONT&nbsp;L/R</td>
								<td>
									天朗/英国</td>
								<td>
									2</td>
								<td>
									<p style="color: #069;font-weight:bold">
										7</p>
								</td>
								<td>
									影院功放 Amplifer</td>
								<td>
									安桥/日本</td>
								<td width="40">
									1</td>
							</tr>
							<tr>
								<td>
									<p style="color: #069;font-weight:bold">
										2</p>
								</td>
								<td>
									中置音箱&nbsp;CENTER</td>
								<td>
									天朗/英国</td>
								<td>
									1</td>
								<td>
									<p style="color: #069;font-weight:bold">
										8</p>
								</td>
								<td>
									主音箱线</td>
								<td>
									线圣/美国</td>
								<td>
									15</td>
							</tr>
							<tr>
								<td>
									<p style="color: #069;font-weight:bold">
										3</p>
								</td>
								<td>
									侧环绕音箱&nbsp;SURR&nbsp;L/R</td>
								<td>
									天朗/英国</td>
								<td>
									2</td>
								<td>
									<p style="color: #069;font-weight:bold">
										9</p>
								</td>
								<td>
									数字音视频线</td>
								<td>
									怪兽/美国</td>
								<td>
									2</td>
							</tr>
							<tr>
								<td>
									<p style="color: #069;font-weight:bold">
										4</p>
								</td>
								<td>
									后环绕音箱&nbsp;BACK&nbsp;SURR&nbsp;L/R</td>
								<td>
									天朗/英国</td>
								<td>
									2</td>
								<td>
									<p style="color: #069;font-weight:bold">
										10</p>
								</td>
								<td>
									音箱线插头</td>
								<td>
									线圣/美国</td>
								<td>
									16</td>
							</tr>
							<tr>
								<td>
									<p style="color: #069;font-weight:bold">
										5</p>
								</td>
								<td>
									超低音音箱&nbsp;SUBWOOFER</td>
								<td>
									天朗/英国</td>
								<td>
									1</td>
								<td>
									<p style="color: #069;font-weight:bold">
										11</p>
								</td>
								<td>
									环绕音箱线</td>
								<td>
									雅宝/德国</td>
								<td>
									50</td>
							</tr>
							<tr>
								<td>
									<p style="color: #069;font-weight:bold">
										6</p>
								</td>
								<td>
									3D蓝光播放机&nbsp;BD&nbsp;DVD</td>
								<td>
									OPPO/国产</td>
								<td>
									1</td>
								<td>
									<p style="color: #069;font-weight:bold">
										12</p>
								</td>
								<td>
									低音音箱线</td>
								<td>
									雅宝/德国</td>
								<td>
									10</td>
							</tr>
						</tbody>
					</table>
					<div class="th_img">
						<p style="width: 520px">
							产品图片</p>
						<div id="featured-content">

							<img alt="Jardines" height="220px" src="images/houhai_shoop.jpg" width="520px" /></div>
						<div id="featured-preview">
							<img alt="Jardines" src="images/houhai_shoop.jpg" /></div>
						<div id="featured-overlay">
							<div>
								&nbsp;</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<h3>
					施工图:</h3>
				<img alt="家庭影院案例,家庭影院设计,家庭影院装修" src="images/1-13050Q12P63F.jpg" style="width: 520px; height: 267px;" /> <span>（大厅正视图）</span> <img alt="家庭影院案例,家庭影院设计,家庭影院装修" src="images/1-13050Q13330303.jpg" style="width: 520px; height: 270px;" /> <span>（大厅俯视图）</span>
				<p>
					采用暗藏式音箱设计，使房间整体划一，突出视觉的完整性</p>
			</li>
			<li>
				<h3>
					装修施工图：</h3>
				<img alt="家庭影院案例,家庭影院设计,家庭影院装修" src="images/1-13050Q1334cR.jpg" style="width: 520px; height: 267px;" /> <img alt="家庭影院案例,家庭影院设计,家庭影院装修" src="images/1-13050Q13404220.jpg" style="width: 520px; height: 309px;" /></li>
			<li>
				<h3>
					现场测试调校：</h3>
				<img alt="家庭影院案例,家庭影院设计,家庭影院装修" src="images/1-13050211012X03.jpg" /> <img alt="家庭影院案例,家庭影院设计,家庭影院装修" src="images/1-13050211014B01.jpg" width="520" /> <span>（校正后效果）</span> <img alt="家庭影院案例,家庭影院设计,家庭影院装修" src="images/1-130502110336300.jpg" width="520" /> <span>（色域和目标值的差异）</span> <img alt="家庭影院案例,家庭影院设计,家庭影院装修" src="images/1-130502110349259.jpg" width="520" /> <img alt="家庭影院案例,家庭影院设计,家庭影院装修" src="images/1-130502110410514.jpg" width="520" /> <span>（音响摆立体声测试图）</span> <img alt="家庭影院案例,家庭影院设计,家庭影院装修" src="images/1-13050211042H16.jpg" width="520" /> <span>（音响摆立体声测试图）</span>
				<p>
					公司技术人员在视频测试工具-红蜘蛛，音频测试工具-丰立克的使用上均由经专业人士鉴定，取得鉴定资格。这样使音响才能达到它最优质的音效感受。</p>
			</li>
			<li>
				<h3>
					实景照片:</h3>
				<img alt="家庭影院案例,家庭影院设计,家庭影院装修" src="images/1-13050Q44402521.jpg" style="width: 520px; height: 187px;" /></li>
			<li>
				<p class="lianxi_p">
					以上就是富和双盛最新完成的后海酒店 KTV 3D影音室.如果想了解更多的话,可以点击查看更多的案例,或者来电咨询我们,电话：400-706-8609 24h热线：139-1194-7292</p>
			</li>
		</ul>
        <div class="tj_div">
        	<div class="tj_L"><p class="tj_p1">温馨提示</p><p class="tj_p2">Warm prompt</p></div>
            <p class="tj_Z">如果您有问题想咨询我们的工程师，请点击右边的"技术咨询"按钮，<br />如果好友疑问，请电话咨询，或请提前网上预约。<br />公司地址：北京市北四环居然之家世纪宝鼎A座23层
            </p>
        	<div class="tj_R"><p><a href="#">技术咨询</a><a href="#">网上预约</a></p></div>
            <div class="clear"></div>
        </div>
  <div class="xgtj">
            	<div class="xgtj_L">
                	<p class="xgal">近期推荐案例</p>
                    <div>
                        <p id="goL"><a href="#">&lt;</a></p>
                        <div id="marquee1">
                        <ul class="r_ul_f">
                            <li><a href="#" title="家庭影院方案推荐70-80万元"><img src="images/gundong_1.jpg" style="width:200px;height:150px"/></a></li>
                            <li><a href="#" title="时尚奢华小巧而高贵的家庭影院案例推荐"><img src="images/gundong_2.jpg" style="width:200px;height:150px"/></a></li>
                            <li><a href="#" title="专业3D家庭影院案例-------富和双盛"><img src="images/gundong_3.jpg" style="width:200px;height:150px"/></a></li>
                            <li><a href="#" title="大道至简,海归派最简家庭影院"><img src="images/gundong_4.jpg" style="width:200px;height:150px"/></a></li>
                            <li><a href="#" title="2013年最新必须要欣赏的家庭影院案例"><img src="images/gundong_5.jpg" style="width:200px;height:150px"/></a></li>
                            <li><a href="#" title="温都水城行宫,经典家庭影院案例欣赏"><img src="images/gundong_6.jpg" style="width:200px;height:150px"/></a></li>
                        </ul>
                        </div>
                        <p id="goR"><a href="#">&gt;</a></p>
                    </div>
                </div>
                <div class="xgtj_R">
                	<p class="jsjx">最新技术解析<span><a href="#">更多&gt;&gt;</a></span></p>
                    <ul class="wztj">
                    	<li><a href="#">文章推荐：此处待编辑1234455565656</a></li>
                    	<li><a href="#">文章推荐：此处待编辑1234455565656</a></li>
                    	<li><a href="#">文章推荐：此处待编辑1234455565656</a></li>
                    	<li><a href="#">文章推荐：此处待编辑1234455565656</a></li>
                    	<li><a href="#">文章推荐：此处待编辑1234455565656</a></li>
                    	<li><a href="#">文章推荐：此处待编辑1234455565656</a></li>
                    	<li><a href="#">文章推荐：此处待编辑1234455565656</a></li>
                    	<li><a href="#">文章推荐：此处待编辑1234455565656</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>

    </div>
    <div class="clear"></div>
    </div>
    </div>
    <div id="dibu">
    <ul id="ul_1">
        <li class="ul_11">
        	<a href="#"><h3>家庭影院</h3></a>
        	<a href="#"><img src="images/f_img1.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵</a></li>
            	<li><a href="#">背京普通别墅家庭影</a></li>
            	<li><a href="#">更多</a></li>
            </ul>
        </li>
        <li class="ul_11">
        	<a href="#"><h3>智能家居</h3></a>
        	<a href="#"><img src="images/f_img2.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵</a></li>
            	<li><a href="#">背京普通别墅家庭影</a></li>
            	<li><a href="#">更多</a></li>
            </ul>
        </li>
        <li class="ul_11">
        	<a href="#"><h3>KTV</h3></a>
        	<a href="#"><img src="images/f_img3.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵</a></li>
            	<li><a href="#">背京普通别墅家庭影</a></li>
            	<li><a href="#">更多</a></li>
            </ul>
        </li>
        <li class="ul_11">
        	<a href="#"><h3>背景音乐</h3></a>
        	<a href="#"><img src="images/f_img4.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵</a></li>
            	<li><a href="#">背京普通别墅家庭影</a></li>
            	<li><a href="#">更多</a></li>
            </ul>
        </li>
        <li class="ul_11">
        	<a href="#"><h3>影音室装修</h3></a>
        	<a href="#"><img src="images/f_img5.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵</a></li>
            	<li><a href="#">背京普通别墅家庭影</a></li>
            	<li><a href="#">更多</a></li>
            </ul>
        </li>
        <li class="ul_11">
        	<a href="#"><h3>视频会议</h3></a>
        	<a href="#"><img src="images/f_img6.jpg" alt="家庭影院案例,家庭影院设计,家庭影院装修"/></a>
            <ul>
            	<li><a href="#">迎五一2013最新家</a></li>
            	<li><a href="#">时尚奢华小巧而高贵<a></li>
            	<li><a href="#">背京普通别墅家庭影<a></li>
            	<li><a href="#">更多<a></li>
            </ul>
        </li>
        <div class="clear"></div>
    </ul>
  </div>
    <div id="footer">
   	  <ul class="ul_f0">
      	<li class="li_s">
        	<p>关于我们</p>
            <ul>
            	<li><a href="#">联系方式</a></li>
            	<li><a href="#">公司地址</a></li>
            	<li><a href="#">机构认证</a></li>
            </ul>
        </li>
      	<li class="li_s">
        	<p>我们的优势</p>
            <ul>
            	<li><a href="#">待编辑待</a></li>
            	<li><a href="#">待编辑待</a></li>
            	<li><a href="#">待编辑待</a></li>
            </ul>
        </li>
      	<li class="li_s">
        	<p><img src="images/logo.gif" /></p>
            <ul>
            	<li><a href="#">工程师在线</a></li>
            	<li class="li_tel">400-708-8609</li>
            </ul>
        </li>
      	<li class="li_s">
        	<p>商家服务</p>
            <ul>
            	<li><a href="#">质量保证</a></li>
            	<li><a href="#">上门安装</a></li>
            	<li><a href="#">售后维护</a></li>
            </ul>
        </li>
      	<li class="li_none">
        	<p>公司荣誉</p>
            <ul>
            	<li><a href="#">AAAAAAA</a></li>
            	<li><a href="#">BBBBBBB</a></li>
            	<li><a href="#">CCCCCCC</a></li>
            </ul>
        </li>
        <div class="clear"></div>
      </ul>
      <div class="clear"></div>
      <ul class="ul_f1">
<li class="f_li_1"><a href="#">了解富和双盛</a></li>
        	<li><a href="#">联系富和双盛</a></li>
        	<li><a href="#">版权声明</a></li>
        	<li><a href="#">友情链接</a></li>
        	<li><a href="#">商务合作</a></li>
        	<li><a href="#">分类大全</a></li>
        	<li><a href="#">问题大全</a></li>
            <div class="clear"></div>
      </ul>
      <ul class="ul_f2">
        	<li>Copyright&nbsp;; 2008 - 2012 fuhess Inc.富和双盛出品 版权所有 </li>
        	<li> 买音响 上富和双盛 </li>
        	<li> 京ICP 备10218666号-1 </li>
        	<li> 公安备案号：110102000716 </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
</body>
</html>
