    <div class="F_link">
    
<style type="text/css">
    <!
    -- .rollBox1
    {
        /* 总宽度 */
        width: 960px;
        height: 140px;
        overflow: hidden;
        margin: 5px 0px 0px 15px;
        float: left;
    }
    .rollBox1 .Cont1
    {
        /* 修改内容区宽度 */
        width: 950px;
        overflow: hidden;
        float: left;
        margin-top: 15px;
    }
    .rollBox1 .ScrCont1
    {
        width: 10000000px;
    }
    .rollBox1 .Cont1 .pic1
    {
        /* 内容区图片文字 */
        float: left;
        text-align: center;
        margin-right: 30px;
    }
    .pic_img
    {
        vertical-align: middle;
    }
    .pic1_img img
    {
        vertical-align: middle;
    }
    .rollBox1 .Cont1 .pic1_zi
    {
        width: 140px;
        text-align: center;
        line-height: 25px;
    }
    .rollBox1 .Cont1 .pic1_zi a
    {
        color: #467cb5 !important;
    }
    .rollBox1 .Cont1 .pic1 p
    {
        /* 图片下面文字样式 */
        line-height: 10px;
        color: #505050;
    }
    .rollBox1 .Cont1 a:link, .rollBox1 .Cont1 a:visited
    {
        /* 图片下面文字样式点链接后 */
        color: #467cb5;
        text-decoration: none;
        font-size: 12px;
    }
    .rollBox1 .Cont1 a:hover
    {
        /* 图片下面文字样式点击链接时 */
        color: #f00;
        text-decoration: underline;
    }
    .rollBox1 #List3, .rollBox1 #List4
    {
        /* 滚动样式外层样式边距相对于最面层 */
        float: left;
    }
    .rollBox1 #List1, .rollBox1 #List2
    {
        /* 滚动样式外层样式边距相对于最面层 */
        float: left;
    }
    -- ></style>
<div class="rollBox1">
    <div class="Cont1" id="ISL_Cont1">
        <div class="ScrCont1">
            <div id="List1">
                <!-- 图片列表 begin -->
                
                        <ul class="pic1">
                            <li class="pic1_img">
                                <img src="/daxibei/userfiles/links/20120802171448.gif" alt="百度" title="百度" /></li>
                        </ul>
                    
                        <ul class="pic1">
                            <li class="pic1_img">
                                <img src="/daxibei/userfiles/links/20120808161425.jpg" alt="新浪" title="新浪" /></li>
                        </ul>
                    
                        <ul class="pic1">
                            <li class="pic1_img">
                                <img src="/daxibei/userfiles/links/20120802171539.gif" alt="人人网" title="人人网" /></li>
                        </ul>
                    
                        <ul class="pic1">
                            <li class="pic1_img">
                                <img src="/daxibei/userfiles/links/20120802171558.gif" alt="搜狐" title="搜狐" /></li>
                        </ul>
                    
                        <ul class="pic1">
                            <li class="pic1_img">
                                <img src="/daxibei/userfiles/links/20120803113809.gif" alt="凤凰" title="凤凰" /></li>
                        </ul>
                    
                        <ul class="pic1">
                            <li class="pic1_img">
                                <img src="/daxibei/userfiles/links/20120803113754.gif" alt="腾讯" title="腾讯" /></li>
                        </ul>
                    
                        <ul class="pic1">
                            <li class="pic1_img">
                                <img src="/daxibei/userfiles/links/20120919163919.png" alt="耐特菲姆" title="耐特菲姆" /></li>
                        </ul>
                    
                        <ul class="pic1">
                            <li class="pic1_img">
                                <img src="/daxibei/userfiles/links/20120803113942.gif" alt="汽车之家" title="汽车之家" /></li>
                        </ul>
                    
                        <ul class="pic1">
                            <li class="pic1_img">
                                <img src="/daxibei/userfiles/links/20120803113951.gif" alt="赶 集 网" title="赶 集 网" /></li>
                        </ul>
                    
                <!-- 图片列表 end -->
            </div>
            <div id="List2">
            </div>
        </div>
    </div>
</div>




    </div>
    
    <div class="footer_bg">
        <div class="footer">
               模板中国&nbsp; 辽ICP备12012473号-1&nbsp;&nbsp;版权所有 Copyright &copy; 2012 All Rights Reserved. 联系电话：0411-85912755 <br />
邮编：116100 传真：0411-85912744 地址：大连市开发区金马路138号 邮箱：i@thinkcms.org 技术支持：<a href="http://www.mobanpai.com/">网站模板</a>        </div>
    </div>


</body>
</html>
