<div class="header">
    <div class="block_header">
            <div class="logo"><a href="{siteurl($siteid)}"><img src="{IMG_PATH}../company/images/logo.gif" width="178" height="143" border="0" alt="logo" /></a></div>
      <div style="float:right;">
        <div class="clr"></div>
        <div class="menu">
          <ul>
		  {pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
            <li><a href="{siteurl($siteid)}" class="active"><span>首页</span></a></li>
			{loop $data $r}
			<li><a href="{$r[url]}"><span>{$r[catname]}</span></a></li>
			{/loop}
          {/pc}
        </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>