<div id="footer">
  <p> 地址：吉林省吉林市龙潭区新山街 TEL：18888888888 QQ：38384741<a target="blank" href="http://wpa.qq.com/msgrd?V=1&amp;Uin=38384741&amp;Site=&amp;Menu=yes"><img src="{CSS_PATH}pa.gif" alt="客服QQ" border="0"></a><br>
    Copyright 2011 ? {if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']} 版权所有 <br>
    Powered by <strong><a href="http://www.phpcms.cn" target="_blank">PHPCMS</a></strong> Themes by <a href="http://www.phpcms8.com">PHPCMS吧</a><br>
  <a title="网站地图" target="blank" href="">网站地图</a>|<a title="RSS订阅地图" target="blank" href="">RSS订阅地图</a>|<a title="谷歌地图" target="blank" href="">谷歌地图</a>|<a title="TAG标签" target="blank" href="">TAG标签</a>|<a title="推荐内容" target="blank" href="">推荐内容</a>|<a title="热点内容" target="blank" href="">热点内容</a> </p>
</div>

<div hiding="true" style="position: absolute; display: block; z-index: 9999; top: 212px; left: 1122.5px; opacity: 0.1;" id="livemargins_control"><img src="{IMG_PATH}monitor-background-horizontal.png" style="position: absolute; left: -77px; top: -5px;" height="5" width="77"> <img src="{IMG_PATH}monitor-background-vertical.png" style="position: absolute; left: 0pt; top: -5px;"> <img id="monitor-play-button" src="{IMG_PATH}monitor-play-button.png" onmouseover="this.style.opacity=1" onmouseout="this.style.opacity=0.5" style="position: absolute; left: 1px; top: 0pt; opacity: 0.5; cursor: pointer;"></div>
</body>
</html>
